@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(236, 236, 142);
}

header,
footer,
main {
  padding: 2rem;
  text-align: center;
}

.animalsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
}

.card {
  background-color: rgb(236, 165, 31);
  box-shadow: 0 0 5px rgb(121, 121, 121);
  width: 300px;
  border-radius: 5px;
  display: inline-block;
  margin: 1rem;
  text-transform: capitalize;
  transition: all 0.5s;
  position: relative;
}

.card:hover {
  box-shadow: 0 0 20px rgb(121, 121, 121);
  cursor: pointer;
}

.card h2,
.card a {
  margin: 1rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  filter: grayscale(100%);
}

.card img:hover {
  filter: grayscale(0%);
}

button {
  padding: 0.5rem;
  background-color: rgb(194, 112, 4);
  border: 1px solid rgb(194, 112, 4);
  box-shadow: 0 0 5px #333;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  color: white;
}

input {
  padding: 1rem;
  border: 1px solid rgb(152, 110, 4);
  margin-bottom: 2rem;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
}

.likes_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.likes {
  text-align: center;
  font-size: 1.2rem;
}

.remove {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  font-size: 0.9rem;
}
